@page
@model SempreBella.Pages.Administrador.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Roupa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Estoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.ImagemUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.ImagemUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.EstaAtiva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.EstaAtiva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roupa.Desconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roupa.Desconto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Roupa.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
